.VimballRecord
.netrwhist
home/.config/hub
home/.rbenv/shims/
home/.rbenv/version
home/.rbenv/versions/
home/.vim/bundle/*
!home/.vim/bundle/.neobundle
!home/.vim/bundle/NeoBundle.lock
!home/.vim/bundle/neobundle.vim
home/.emacs.d/savefile/*
home/.emacs.d/ac-comphist.dat
home/.emacs.d/recentf
home/.emacs.d/projectile-bookmarks.eld