[submodule "home/.vim/bundle/ctrlp.vim"]
	path = home/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "home/.vim/bundle/python-mode"]
	path = home/.vim/bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "home/.vim/bundle/vim-colors-solarized"]
	path = home/.vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vendor/vim-pathogen"]
	path = vendor/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "home/.vim/bundle/vim-commentary"]
	path = home/.vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "home/.vim/bundle/vim-endwise"]
	path = home/.vim/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/vim-rails"]
	path = home/.vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "home/.vim/bundle/vim-surround"]
	path = home/.vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/vim-unimpaired"]
	path = home/.vim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "home/.oh-my-zsh"]
	path = home/.oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "home/.vim/bundle/vim-autoclose"]
	path = home/.vim/bundle/vim-autoclose
	url = git://github.com/Townk/vim-autoclose.git
[submodule "home/.vim/bundle/vim-visual-star-search"]
	path = home/.vim/bundle/vim-visual-star-search
	url = git://github.com/bronson/vim-visual-star-search.git
[submodule "home/.vim/bundle/ag.vim"]
	path = home/.vim/bundle/ag.vim
	url = git://github.com/epmatsw/ag.vim.git
[submodule "home/.vim/bundle/gist-vim"]
	path = home/.vim/bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "home/.vim/bundle/webapi-vim"]
	path = home/.vim/bundle/webapi-vim
	url = git://github.com/mattn/webapi-vim.git
[submodule "home/.vim/bundle/vim-multiple-cursors"]
	path = home/.vim/bundle/vim-multiple-cursors
	url = git://github.com/terryma/vim-multiple-cursors.git
[submodule "home/.vim/bundle/CamelCaseMotion"]
	path = home/.vim/bundle/CamelCaseMotion
	url = git://github.com/bkad/CamelCaseMotion.git
[submodule "home/.vim/bundle/vim-rspec"]
	path = home/.vim/bundle/vim-rspec
	url = https://github.com/thoughtbot/vim-rspec.git
[submodule "home/.vim/bundle/vim-javascript"]
	path = home/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "home/.vim/bundle/vim-localvimrc"]
	path = home/.vim/bundle/vim-localvimrc
	url = https://github.com/embear/vim-localvimrc.git
[submodule "home/.vim/bundle/vim-less"]
	path = home/.vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "home/.vim/bundle/vim-flavored-markdown"]
	path = home/.vim/bundle/vim-flavored-markdown
	url = git://github.com/jtratner/vim-flavored-markdown.git
[submodule "home/.vim/bundle/gundo.vim"]
	path = home/.vim/bundle/gundo.vim
	url = git@github.com:sjl/gundo.vim.git
