alias rm="rm -i"
alias lla="ls -la"

#fueled shortcuts
alias fueled="cd ~/fueled"

#git aliases
alias master="git co master"
alias staging="git co staging"
alias stable="git co stable"
alias gdi="git diff"
alias gds="git diff --staged"
alias gst="git st"

#bundler aliases
alias be="bundle exec"
alias ber="bundle exec rake"
alias bu="bundle update"
alias bi="bundle install"

#heroku aliases
alias gph="git push heroku $(current_branch):master"

# my aliases
alias tvim="/Applications/MacVim.app/Contents/MacOS/Vim"

#project aliases:
alias prog="cd ~/prog"
alias bserv="cd ~/prog/beech/beech-server"
alias biphone="cd ~/prog/beech/beech-iphone"

# django stuff
alias djtest="REUSE_DB=1 ./manage.py test"

alias dotfiles="cd ~/.homesick/repos/dotfiles"

# Mou markdown editor alias
alias mou='open /Applications/Mou.app'

alias tmux="TERM=screen-256color-bce tmux"
alias v="vim"
alias vess="vim -u ~/.essential.vim"
